.mySelect {
	padding: 5px 10px;
	background: var(--component-background);
	color: var(--text-color);
	border: 1px solid var(--text-color);
	outline: none;
	font-size: 12px;

	option {
		font-size: 12px;
	}
}
