@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'variable';

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--body-background);
	transition: background-color 200ms linear;
}

.content {
	margin: 0 auto;
	max-width: 1200px;
	background: var(--component-background);
	color: var(--text-color);
	transition: color 200ms linear, background-color 200ms linear;
}
