@import 'variable';

//@font-face {
//	font-family: Itim;
//	src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
//}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Itim', cursive;
	font-size: 20px;
	line-height: 22px;
}

body {
	background: var(--body-background);
}

.App {
	width: 100vw;
	height: 100vh;
	background: var(--body-background);
	transition: background-color 200ms linear;
}

.content {
	margin: 15px auto;
	max-width: 1200px;
	color: var(--text-color);
	transition: color 200ms linear, background-color 200ms linear;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	color: var(--text-color);
}

h2 {
	font-weight: 300;
	font-size: 20px;
	line-height: 22px;
	color: var(--text-color);
}

@media (max-width: 567px) {
	* {
		font-size: 15px;
	}
	h1 {
		font-size: 17px;
	}
}
