$body-background-dark: #2d303e;
$body-background-light: #edeff0;

$component-background-dark: #343747;
$component-background-light: #fff;

$color-dark: #ffff;
$color-light: #467ebc;

$grey: #5d606a;

html[data-theme='dark'] {
	--body-background: #{$body-background-dark};
	--component-background: #{$component-background-dark};
	--text-color: #{$color-dark};
}

html[data-theme='light'] {
	--body-background: #{$body-background-light};
	--component-background: #{$component-background-light};
	--text-color: #{$color-light};
}
