.myToggle {
	padding: 10px 15px;
	margin: 5px;

	border: 0;
	border-radius: 25px;
	cursor: pointer;
	opacity: 0.5;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);

	&:hover {
		background-color: #1e66bf;
	}

	&.active {
		opacity: 1;
	}
}
